
/src/Modules/Identity/          @Trunghieu220504
/src/Modules/Projects/          @Hai249
/src/Modules/TaskManagement/    @Hai249
/src/Modules/Sprints/           @Trunghieu220504
/src/Modules/Notifications/     @Hai249
/src/Modules/RiskAI/            @phuongdtrai
/src/BuildingBlocks/            @Trunghieu220504
/web/                           @baoanh123k5
/tests/                         @Xuanhoa1310
/.github/                       @Xuanhoa1310 @Trunghieu220504
